@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@100;200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 


/* :root{
    --blog-bg:  linear-gradient(180deg, rgba(125, 236, 255, 0.34) 0%, rgba(14, 128, 143, 0.55) 51%, rgba(1, 13, 55, 1) 100%);
} */

body {
    @apply  bg-[color:var(--bg-primary)] text-[color:var(--c-base)]   
}


.icon{
    @apply  bg-[color:var(--bg-primary)] text-[color:var(--c-base)]
}
.custom-box-shadow{
    box-shadow:  var(--box-shadow);
}

.blog-bg{
    background: linear-gradient(180deg, rgba(8, 31, 34, 0.24) 0%, rgba(8, 31, 34, 0.39) 14%, rgba(34, 54, 69, 0.95) 44%, rgba(34, 54, 69, 1) 100%);   
  
}
.blog-second-bg{
    background: linear-gradient(180deg, rgba(110, 197, 238, 0.24) 0%, rgba(25, 95, 122, 0.39) 14%, rgba(34, 54, 69, 0.72) 44%, rgba(34, 54, 69, 0.562) 100%);   
}

.header-color{
    background-color: linear-gradient(180deg, rgba(110, 197, 238, 0.24) 0%, rgba(25, 95, 122, 0.39) 14%, rgba(34, 54, 69, 0.72) 44%, rgba(34, 54, 69, 0.562) 100%);   
}
.blog-header {
    font-family: 'Poppins', sans-serif;
}

.header-clip{
    clip-path:   polygon(0 0, 100% 0, 100% 100%, 0 0);
}
  
.home-main-bg-light{
 background-image:  linear-gradient(90deg, rgba(1, 78, 72, 1) 0%, rgba(10, 57, 65, 1) 100%);
 color:white
}
.home-main-bg-dark{
    background: linear-gradient(88deg, rgba(4, 35, 40, 1) 0%, rgba(4, 45, 47, 1) 50%, rgba(4, 35, 40, 1) 100%);
    color:white
   }
.home-text-bg{
    box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
}   
/* @apply   bg-black  text-white */